*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul[class], ol[class] {
  padding: 0;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
}

ul[class], ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

.page {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 79rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.625rem 1rem;
  background: #F3F3F4;
  border-radius: 50%;
  -webkit-box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  text-decoration-line: none;
  border: none;
  cursor: pointer;
}

:root {
  --image-height: 100%;
  --image-width: 100%;
  --columns__count: 12;
}

#availableHotels {
  display: none;
}

.header {
  padding-top: 3.125rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  display: block;
  width: 12.8125rem;
  height: 2.5rem;
  fill: #3077C6;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
}
.navigation .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.5rem;
}
.navigation .nav__links a {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  color: #FFFFFF;
  font-weight: 400;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-right: 1.5rem;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
.navigation .nav__links a:after {
  content: "";
  display: block;
  width: 85%;
  bottom: -0.625rem;
  position: absolute;
  background-color: #F5BD41;
  border: 0.125rem solid #F5BD41;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
.navigation .nav__links a:last-child {
  margin-right: 0;
}
.navigation .nav__links a:hover:after {
  opacity: 1;
}
.navigation .nav__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.5rem;
}
.navigation .nav__icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin-right: 1.5rem;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
.navigation .nav__icons a:nth-child(2) {
  margin-right: 0;
}
.navigation .nav__icons a .header__switcher {
  display: block;
  max-width: 1.875rem;
  max-height: 1.875rem;
  fill: #FFFFFF;
}
.navigation .nav__icons a .header__account {
  display: block;
  max-width: 2.5rem;
  max-height: 2.5rem;
  fill: #FFFFFF;
}

.nav__toggle {
  width: 1.5rem;
  height: 1.5rem;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 0;
  background: transparent;
}
.nav__toggle:hover {
  cursor: pointer;
}
.nav__toggle:hover span:nth-child(1) {
  -webkit-transform: translate(0.25rem, -0.0625rem) rotate(45deg);
  transform: translate(0.25rem, -0.0625rem) rotate(45deg);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}
.nav__toggle:hover span:nth-child(1) {
  -webkit-transform: translate(0.25rem, -0.0625rem) rotate(45deg);
  transform: translate(0.25rem, -0.0625rem) rotate(45deg);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}
.nav__toggle:hover span:nth-child(2) {
  -webkit-transform: scale(0);
  transform: scale(0);
}
.nav__toggle:hover span:nth-child(3) {
  -webkit-transform: translate(-0.1875rem, -1rem) rotate(-45deg);
  transform: translate(-0.1875rem, -1rem) rotate(-45deg);
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
}
.nav__toggle span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 0.10625rem;
  background-color: #FFFFFF;
  display: block;
  width: 1.5rem;
  margin: 0.15625rem 0;
}

.intro {
  position: relative;
  height: 100vh;
  min-height: 56.25rem;
  background: url("../images/header/header_background.png") center no-repeat;
  background-size: cover;
}
.intro .shadow__box {
  position: absolute;
  height: 100vh;
  min-height: 56.25rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(18, 18, 18, 0.25);
}

.intro__content {
  width: 100%;
  padding: 18.3125rem 0 7.5rem 0;
}

.intro__title {
  font-size: 3.125rem;
  color: #FFFFFF;
  font-weight: 500;
  margin-bottom: 9rem;
}

.intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 77rem;
  margin: 0 auto 9.5rem;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
}

.intro__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 77rem;
  width: 100%;
  border-radius: 0.5rem;
}
.intro__form .form__input {
  width: 100%;
  padding: 1.3125rem 1.5rem 1.25rem 1.5rem;
  border: 0 solid #FFFFFF;
  border-radius: 0.5rem;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  color: #383838;
  font-weight: 400;
}
.intro__form .form__input:focus {
  border: 0.1875rem solid #F5BD41;
  margin: -0.1875rem 0;
}
.intro__form .form__label {
  position: absolute;
  pointer-events: none;
  left: 1.5rem;
  right: 0;
  top: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  color: #383838;
  font-weight: 400;
  line-height: 2.625rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.intro__form .first__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
}
.intro__form .first__input .form__icon {
  display: none;
}
.intro__form .first__input .form__icon .icon__search {
  display: block;
  max-width: 1rem;
  max-height: 1rem;
  fill: #BFBFBF;
}
.intro__form .first__input .form__item {
  width: 100%;
  position: relative;
}
.intro__form .second__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  border-radius: 0.5rem;
  background-color: #FFF;
}
.intro__form .second__input .form__item {
  width: 100%;
  position: relative;
}
.intro__form .second__input .form__item .form__input {
  padding: 1.3125rem 0.5rem 1.25rem 0.5rem;
}
.intro__form .second__input .form__item .form__label {
  left: 0.5rem;
}
.intro__form .third__input {
  display: -webkit-box;
  display: -ms-flexbox;
  position: relative;
  width: 32%;
  border-radius: 0.5rem;
  border: 1px solid #CECECE;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

.intro__form .third__inputHyphen {
  padding-right: 5px;
}

.intro__form .third__input:hover, .third__inputActive  {
  border: none;
  outline: 3px solid #F5BD41;
}

.intro__form .third__input .form__item {
  padding: 21px 0;
}

.intro__form .form__input:focus ~ .form__label,
.intro__form .form__input:not(:focus):valid ~ .form__label {
  top: -3.25rem;
  font-size: 1.125rem;
  color: #FFFFFF;
  font-weight: 400;
}
.positionModalMenu {
  position: relative;
}
.modalMenu {
  visibility: hidden;
  opacity: 2;
  position: absolute;
  right: 193px;
  top: 77px;
  max-width: 259px;
  max-height: 256px;
  border-radius: 8px;
  font-size: 16px;
  overflow-y: scroll;
  background-color: #FFFFFF;
}

.modalMenu.open {
  transition: .2s visibility linear, .2s opacity linear;
  visibility: visible;
  opacity: 1;
}

::-webkit-scrollbar {
  width: 0;
}

.counterContainer {
  display: flex;
  background-color: #FFF;
}

.namesNumberChanger {
  display: flex;
  flex-direction: column;
  margin: 28px 28px 28px 22px;
}

.namesNumberChanger label {
  margin-bottom: 23px;
}

.namesNumberChanger label:last-child {
  margin-bottom: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  text-align: center;
  background: #FFF;
  border: none;
  max-height: 20px;
  max-width: 25px
}/* display:none border, background, and such size input (+/-)*/

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}/* display:none arrow (+/-)*/

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.numberChanger {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.counters {
  margin-top: 22px;
}

.btnCounterMin, .btnCounterPlus {
  min-width: 30px;
  min-height: 30px;
  background-color: #FFF;
  border: 1px solid #CECECE;
  color: #CECECE;
  font-size: 18px;
}

.btnActive {
  border: 1px solid #3077C6;
  color: #3077C6;
}

.btnCounterMin {
  margin-right: 19px;
}

.btnCounterPlus {
  margin: 0 20px 0 22px;
}

.addAgeChildren {
  display: none;
  background-color: #FFFFFF;
  font-size: 12px;
  margin: 0 22px 12px 19px;
}

.selectors {
  display: block;
}

.selectors>select {
  position: relative;
  width: 100px;
  height: 30px;
  padding-left: 5px;
  margin: 0 0 12px 20px;
  border: 1px solid #3077C6;
  cursor: pointer;
  overflow: hidden;
  font-size: 12px;
}

.selectors>select:nth-child(2n){
  margin-left: 12px;
}

.selectors>select:focus {
  outline: none;
  box-shadow: none;
  border: solid 1px #3077C6;
}

.intro__form .form__button {
  position: relative;
  left: 2px;
  padding: 18px 58px;
  background-color: #3077C6;
  border: 0.0625rem solid #3077C6;
  border-radius: 0.5rem;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #FFFFFF;
  font-weight: 500;
  cursor: pointer;
}
.intro__form .form__button:hover {
  color: #F5BD41;
  border: 0.0625rem solid #3077C6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.intro__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}
.intro__icons a {
  margin-right: 1rem;
}
.intro__icons a:last-child {
  margin-right: 0;
}

.section {
  padding: 7.5rem 0;
}

.section__promotion {
  padding: 5.625rem 0 0 0;
}

.section__overviews {
  background: #EAF0F9;
}

.section__destinations {
  background-color: #FFFFFF;
}

.section__header {
  position: relative;
  width: 100%;
  margin: 0 auto 5.3125rem;
  text-align: center;
}

.section__title {
  font-size: 2.5rem;
  color: #383838;
  font-weight: 500;
}
.section__title:after {
  content: "";
  display: block;
  width: 2.5em;
  background-color: #F5BD41;
  border: 0.05em solid #F5BD41;
  opacity: 1;
  margin: 0.45em auto 0;
  z-index: 1;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.offer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(var(--image-height) / 4);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.offer__item .offer__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.offer__item .offer__img svg {
  display: block;
  max-width: 6.25rem;
  max-height: 6.25rem;
  fill: #3077C6;
}
.offer__item .offer__info {
  text-align: center;
}
.offer__item .offer__info span {
  font-size: 1.5rem;
  color: #383838;
  font-weight: 400;
}

.overviews,
.availableItems {
  position: relative;
}

.overviews__slider,
.destinations__slider {
  display: block;
  position: relative;
}

.overviews__slider .slick-arrow,
.destinations__slider .slick-arrow {
  position: absolute;
  top: calc(var(--image-height) / 3.25);
  height: 2.5rem;
  width: 2.5rem;
  z-index: 10;
  cursor: pointer;
  font-size: 0;
  border: 0;
}
.overviews__slider .slick-arrow.slick-prev,
.destinations__slider .slick-arrow.slick-prev {
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  left: 0;
  background: url("../images/pref.svg") no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.overviews__slider .slick-arrow.slick-next,
.destinations__slider .slick-arrow.slick-next {
  -webkit-transform: translate3d(25%, 0, 0);
  transform: translate3d(25%, 0, 0);
  right: 0;
  background: url("../images/next.svg") no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.overviews__slider .slick-slider {
  display: flex;
  margin: 0;
  padding: 0;
}

.overviews__item {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.overviews__img {
  position: relative;
  margin-bottom: 1.5rem;
}

.overviews__img img {
  display: block;
  height: 296px;
  width: 296px;
  object-fit: cover;
}

.overviews__tittle {
  font-size: 1.5rem;
  color: #3077C6;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.overviews__location {
  font-size: 1.5rem;
  color: #BFBFBF;
  font-weight: 400;
}

.destinations__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 36.5rem;
  margin-bottom: 4rem;
  border-radius: 0.5rem;
  background-color: #F3F3F4;
}
.destinations__tabs .tabs__category {
  display: block;
  padding: 1rem 4rem;
  font-size: 1.5rem;
  color: #383838;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}
.destinations__tabs .tabs__category:first-child {
  padding: 1rem 3.25rem;
}
.destinations__tabs .tabs__category:last-child {
  padding: 1rem 4rem;
}
.destinations__tabs .tabs__category:hover {
  color: #F5BD41;
  background-color: #3077C6;
  border-radius: 0.5rem;
}
.destinations__tabs .tabs-triggers__item--active {
  color: #FFFFFF;
  background-color: #3077C6;
  border-radius: 0.5rem;
}

.tabs-content__item {
  display: none;
}

.tabs-content__item--active {
  display: block;
}

.destinations {
  position: relative;
}

.destinations.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.destinations__slider .slick-slider {
  margin: 0;
  padding: 0;
}

.destinations__slider .slick-arrow {
  top: calc(var(--image-height) / 2.75);
}

.destinations__wrapper__second {
  display: none;
}
.destinations__wrapper__second.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.destinations__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 1rem;
}
.destinations__item:last-child {
  margin-right: 0;
}
.destinations__item:hover .destinations__img img {
  opacity: 0.7;
}
.destinations__item:hover .destinations__button {
  opacity: 1;
}
.destinations__item a {
  font-size: 1.5rem;
  color: #3077C6;
  font-weight: 400;
  margin-bottom: 1.875rem;
  text-decoration: none;
}

.destinations__content {
  position: relative;
}

.destinations__img {
  position: relative;
  background: rgba(56, 56, 56, 0.4);
  -webkit-box-shadow: inset 0 0.25rem 4.375rem rgba(56, 56, 56, 0.5);
  box-shadow: inset 0 0.25rem 4.375rem rgba(56, 56, 56, 0.5);
  margin-bottom: 1.5rem;
}
.destinations__img img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  -o-object-fit: contain;
  object-fit: contain;
}

.destinations__button {
  width: 100%;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
.destinations__button a {
  padding: 1rem 1.5rem;
  background-color: #FFFFFF;
  border: 0.0625rem solid #3077C6;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  color: #3077C6;
  font-weight: 400;
  text-decoration: none;
}
.destinations__button a:hover {
  color: #F5BD41;
  border: 0.0625rem solid #3077C6;
  background-color: #3077C6;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.destinations__collapse {
  position: absolute;
  left: 50%;
  bottom: -22%;
  z-index: 1;
  -webkit-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0);
}
.destinations__collapse.active {
  bottom: -2%;
  border: none;
}

.destinations__arrow {
  display: block;
  max-width: 0.5625rem;
  max-height: 1.3125rem;
  fill: transparent;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.destinations__arrow.active {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.redirection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.promotion {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #EAF0F9;
}
.promotion .promotion__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promotion__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 3.75rem 1.5rem 3.25rem;
  border-radius: 50%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}
.promotion__avatar svg {
  display: block;
  max-width: 3.625rem;
  max-height: 3.625rem;
  fill: #3077C6;
  margin: 0.875rem;
  -webkit-filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}

.promotion__logotype {
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #3077C6;
  border-radius: 0.5rem;
  margin: 1.25rem 1rem 1rem 3.75rem;
}
.promotion__logotype svg {
  display: block;
  width: 7.5rem;
  height: 7.5rem;
  fill: #FFFFFF;
  padding: 1.5rem 0.25rem;
}

.promotion__main {
  margin-top: 3.375rem;
}

.promotion__text {
  font-size: 1.5rem;
  color: #383838;
  font-weight: 400;
  margin-bottom: 2rem;
}
.promotion__text span:last-child {
  display: none;
}

.promotion__btn a {
  padding: 0.75rem 2rem;
  background-color: #FFFFFF;
  border: 0.0625rem solid #3077C6;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  color: #3077C6;
  font-weight: 400;
  text-decoration: none;
}
.promotion__btn a:hover {
  color: #F5BD41;
  background-color: #3077C6;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.promotion__footer {
  display: none;
  margin: 2.5rem 1rem;
}

.promotion__footer a {
  font-size: 1.25rem;
  color: #3077C6;
  font-weight: 500;
  text-decoration: none;
}

.promotion__close {
  position: absolute;
  top: 0;
  right: 0;
}
.promotion__close svg {
  display: block;
  max-width: 1.625rem;
  max-height: 1.625rem;
  fill: #BFBFBF;
  margin: 1.5rem 1.5rem 0 0;
  cursor: pointer;
}

.reviews__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.reviews__block .slick-arrow {
  position: absolute;
  top: calc(var(--image-height) / 4);
  height: 2.5rem;
  width: 2.5rem;
  z-index: 10;
  cursor: pointer;
  font-size: 0;
  border: 0;
}
.reviews__block .slick-arrow.slick-prev {
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  left: 0;
  background: url("../images/pref.svg") no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.reviews__block .slick-arrow.slick-next {
  -webkit-transform: translate3d(25%, 0, 0);
  transform: translate3d(25%, 0, 0);
  right: 0;
  background: url("../images/next.svg") no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.reviews__block .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
}
.reviews__block .slick-dots li {
  list-style: none;
}
.reviews__block .slick-dots li.slick-active button {
  background: #333333;
}
.reviews__block .slick-dots button {
  margin: 0.3125rem;
  padding: 0;
  width: 0.625rem;
  height: 0.625rem;
  border: 0.0625rem solid #333333;
  border-radius: 50%;
  background: transparent;
  font-size: 0;
}
.reviews__block .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: 100%;
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 1rem;
  background: #EAF0F9;
  font-size: 1.125rem;
  color: #383838;
  font-weight: 400;
  height: 100%;
}
.reviews__item:last-child {
  margin-right: 0;
}

.reviews__header {
  display: block;
  position: relative;
}
.reviews__header:hover .reviews__price {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.reviews__img img {
  display: block;
  width: 100%;
}

.reviews__price {
  width: 100%;
  padding: 1rem 0 1.125rem 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  opacity: 0;
  color: #FFFFFF;
  background-color: rgba(56, 56, 56, 0.7);
}

.reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 0.625rem;
}

.reviews__name {
  color: #3077C6;
}

.reviews__tittle {
  padding: 1.625rem 0 0 1.375rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.reviews__location {
  padding-left: 1.375rem;
}

.review__account {
  display: block;
  max-width: 3.3125rem;
  max-height: 3.3125rem;
  fill: #BFBFBF;
}

.reviews__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 1.5rem 1.5rem 0 0;
}
.reviews__rating a {
  padding: 0.3125rem 0.625rem;
  margin-bottom: 0.5rem;
  border: 0.0625rem solid #10367C;
  border-radius: 0.5rem;
  background-color: #10367C;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  color: #FFFFFF;
  font-weight: 600;
  text-decoration: none;
}
.reviews__rating a:hover {
  color: #F5BD41;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.reviews__views {
  margin-right: 1.5rem;
  font-size: 0.875rem;
  color: #BFBFBF;
  font-weight: 400;
}

.review__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review__avatar {
  display: block;
  padding: 1.3125rem 1.3125rem 1rem 1.75rem;
}

.review__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.review__name {
  padding-bottom: 0.3125rem;
}

.review__country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #BFBFBF;
}
.review__country span {
  padding-left: 0.375rem;
}
.review__country svg {
  display: block;
  width: 1rem;
  height: 0.75rem;
}

.review__text {
  padding: 0 1.5rem 1.125rem;
}

.footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 7.5rem 0;
  background-color: #10367C;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__inner ul {
  width: calc(var(--image-height)/3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 1rem 4rem 0;
  padding-left: 0;
  font-size: 1.25rem;
}
.footer__inner ul:last-child {
  margin-right: 0;
}
.footer__inner ul li {
  font-weight: 400;
  margin-bottom: 1.5625rem;
  list-style-type: none;
}
.footer__inner ul li:first-child {
  font-weight: 500;
}
.footer__inner ul li:last-child {
  margin-bottom: 0;
}
.footer__inner ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
.footer__inner ul li a:hover {
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  color: #F5BD41;
  text-decoration: underline;
}

.footer__logo {
  margin: 0 auto;
  display: none;
  width: 6.125rem;
  height: 1.1875rem;
  fill: #FFFFFF;
}

.footer__copyright span {
  font-size: 0.875rem;
  color: #FFFFFF;
  font-weight: 400;
}

@media only screen and (max-width: 1160px) {
  .intro__form .first__input {
    width: 40%;
  }
  .intro__form .second__input {
    width: 40%;
  }
  .intro__form .third__input {
    width: 35%;
  }

  .reviews__views {
    margin-right: 1rem;
  }

  .reviews__rating {
    margin: 1.5rem 1rem 0 0;
  }
}
@media only screen and (max-width: 1024px) {
  .header {
    padding-top: 2rem;
  }

  .header__logo {
    width: 12.25rem;
    height: 2.375rem;
  }

  .header__switcher {
    width: 1.75rem;
    height: 1.75rem;
  }

  .header__account {
    width: 2.375rem;
    height: 2.375rem;
  }

  .navigation .nav__links a {
    font-size: 1.25rem;
  }

  .intro {
    min-height: 48rem;
  }
  .intro .shadow__box {
    min-height: 48rem;
  }

  .intro__content {
    padding: 11.875rem 0 6.875rem 0;
    max-height: 30.4375rem;
  }

  .intro__title {
    font-size: 2.875rem;
    margin-bottom: 4rem;
  }

  .intro__wrapper {
    display: block;
    max-width: 48rem;
    min-width: 20.5rem;
    margin: 0 auto 3.5rem;
    background-color: #F5BD41;
    border-radius: 0;
  }

  .intro__form {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 48rem;
    width: 100%;
    border-radius: 0.5rem;
    color: #FFFFFF;
    padding: 0.5rem;
  }
  .intro__form .form__input {
    padding: 1.5625rem 0 0.375rem 0.375rem;
    font-size: 0.9375rem;
    color: #383838;
    font-weight: 500;
  }
  .intro__form .form__input:focus {
    border: 0;
    margin: 0;
  }
  .intro__form .form__label {
    position: absolute;
    pointer-events: none;
    font-size: 0.9375rem;
    left: 0.5rem;
    right: 0;
    top: 0.75rem;
    font-weight: 500;
    line-height: 1.625rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .intro__form .first__input {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .intro__form .first__input .form__icon {
    display: block;
    margin-left: 0.75rem;
  }
  .intro__form .first__input .form__icon .form__label {
    left: 0.5rem;
  }
  .intro__form .second__input {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
  }
  .intro__form .second__input .form__item {
    margin-right: 0.5rem;
    position: relative;
  }
  .intro__form .second__input .form__item:last-child {
    margin-right: 0;
  }
  .intro__form .second__input .form__item .form__input {
    font-size: 0.9375rem;
    padding: 1.5625rem 0 0.375rem 0.5rem;
  }
  .intro__form .second__input .form__item .form__label {
    font-size: 0.9375rem;
    left: 0.5rem;
  }
  .intro__form .third__input {
    width: 100%;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
  }
  .intro__form .third__input .form__item {
    width: 100%;
    position: relative;
  }
  .intro__form .third__input .form__item .form__input {
    padding: 1.5625rem 0 0.375rem 0.5rem;
    font-size: 0.9375rem;
  }
  .intro__form .third__input .form__item .form__label {
    font-size: 0.9375rem;
    left: 0.5rem;
  }
  .intro__form .third__input .form__devider {
    display: block;
    margin-top: 0.5rem;
    width: 0.0625rem;
    height: 2rem;
    background-color: #BFBFBF;
    border: 0.0625rem solid #BFBFBF;
  }
  .intro__form .form__input:focus ~ .form__label,
  .intro__form .form__input:not(:focus):valid ~ .form__label {
    top: 0;
    font-size: 0.75rem;
    color: #383838;
    font-weight: 500;
  }

  .intro__form .form__button {
    position: unset;
    width: 100%;
    padding: 17px 58px;
    font-size: 24px;
    font-weight: 500;
    background-color: #3077C6;
    border-radius: 0.5rem;
  }

  .section {
    padding: 3.75rem 0;
  }

  .section__promotion {
    padding: 3.75rem 0 0 0;
  }

  .section__header {
    margin: 0 auto 3.25rem;
  }

  .section__title {
    font-size: 2.25rem;
  }

  .offer {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .offer__item {
    margin-bottom: 2rem;
  }
  .offer__item .offer__img {
    margin-bottom: 2rem;
    max-width: 5rem;
    max-height: 5rem;
  }
  .offer__item .offer__info span {
    font-size: 1.25rem;
  }

  /*Overviews*/
  .overviews__img {
    margin-bottom: 1rem;
  }

  .overviews__tittle {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .overviews__location {
    font-size: 1.25rem;
  }

  .destinations__tabs {
    margin-bottom: 2rem;
  }

  .destinations__slider .slick-arrow {
    top: calc(var(--image-height) / 2.75);
  }

  .destinations__item {
    margin-right: 1rem;
  }
  .destinations__item a {
    font-size: 1.25rem;
    margin-bottom: 1.875rem;
  }
  .destinations__item .destinations__img {
    margin-bottom: 1rem;
  }

  .destinations__collapse {
    display: none;
  }

  .promotion__text {
    font-size: 1.25rem;
  }

  .reviews__block .slick-dots {
    margin-top: 2rem;
  }

  .footer {
    padding: 3.75rem 0;
  }

  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__inner ul {
    font-size: 1.125rem;
  }
}
@media only screen and (max-width: 768px) {
  .header {
    padding-top: 2rem;
  }

  .header__logo {
    width: 10.5rem;
    height: 2rem;
  }

  .header__switcher {
    width: 1.5rem;
    height: 1.5rem;
  }

  .header__account {
    width: 2rem;
    height: 2rem;
  }

  .nav__toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 0.25rem;
  }

  .navigation .nav__links {
    display: none;
  }
  .navigation .nav__icons {
    margin-left: 0;
  }
  .navigation .nav__icons a {
    margin-right: 1.5rem;
  }
  .navigation .nav__icons a:nth-child(2) {
    margin-right: 1.5rem;
  }

  .intro {
    min-height: 45rem;
  }
  .intro .shadow__box {
    min-height: 45rem;
  }

  .intro__content {
    padding-top: 10rem;
  }

  .intro__title {
    font-size: 2.875rem;
    margin-bottom: 3rem;
  }

  .intro__wrapper {
    margin: 0 auto 2.5rem;
  }

  .intro__title {
    font-size: 2.5rem;
  }

  /*Section*/
  .section {
    padding: 3.75rem 0;
  }

  .section__promotion {
    padding: 0;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .section__header {
    margin: 0 auto 3.25rem;
  }

  .section__title {
    font-size: 2rem;
  }

  .section__reviews {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    background-color: #EAF0F9;
  }

  .offer__item {
    width: calc(var(--image-height) / 2);
  }
  .offer__item .offer__info span {
    font-size: 1.125rem;
  }

  .overviews__img {
    margin-bottom: 0.75rem;
  }

  .overviews__tittle {
    margin-bottom: 0.75rem;
    font-size: 1.125rem;
  }

  .overviews__location {
    font-size: 1.125rem;
  }

  .destinations__tabs {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 100%;
    margin-bottom: 1.5rem;
    background-color: #FFFFFF;
  }
  .destinations__tabs .tabs__category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.9375rem 2.1875rem;
    font-size: 1.25rem;
  }
  .destinations__tabs .tabs__category:first-child {
    padding: 0.9375rem 1.5625rem;
  }
  .destinations__tabs .tabs__category:last-child {
    padding: 0.9375rem 1.85rem;
  }

  .destinations__item a {
    font-size: 1.125rem;
  }

  .destinations__button a {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .reviews__item {
    margin-right: 1rem;
  }

  .reviews__block .slick-dots {
    margin-top: 0;
  }

  .reviews__tittle {
    padding: 1.625rem 0 0 0;
    margin-bottom: 0.9375rem;
  }

  .reviews__location {
    padding-left: 0;
    margin-bottom: 1.25rem;
  }

  .reviews__rating {
    margin: 1.5625rem 0 0 0;
  }

  .reviews__views {
    margin-right: 0;
  }

  .review__avatar {
    margin: 0.3125rem 1.3125rem 0.875rem 0.1875rem;
    padding: 0;
  }

  .review__name {
    padding: 0.625rem 0;
  }

  .review__text {
    padding: 0;
    margin-bottom: 0;
  }

  .promotion {
    background-color: #FFFFFF;
  }

  .promotion__content {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .promotion__avatar {
    display: none;
  }

  .promotion__logotype {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .promotion__main {
    margin: 0;
  }

  .promotion__text {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .promotion__btn {
    display: none;
  }

  .promotion__footer {
    display: block;
  }

  .promotion__close {
    margin: 0;
    top: 50%;
    left: 0;
  }
  .promotion__close svg {
    position: relative;
    margin: 0;
    max-width: 1.5rem;
    -webkit-transform: translate3d(50%, -50%, 0);
    transform: translate3d(50%, -50%, 0);
  }

  .footer__inner ul {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 480px) {
  .header {
    padding-top: 0.75rem;
  }

  .header__logo {
    width: 8rem;
    height: 2rem;
  }

  .header__switcher {
    width: 1rem;
    height: 1rem;
  }

  .header__account {
    width: 1.5rem;
    height: 1.5rem;
  }

  .nav__toggle {
    top: 0;
  }

  .navigation .nav__icons a {
    margin-right: 1rem;
  }
  .navigation .nav__icons a:nth-child(2) {
    margin-right: 1rem;
  }

  .intro {
    min-height: 33.125rem;
  }
  .intro .shadow__box {
    background-color: rgba(0, 0, 0, 0);
  }

  .intro__content {
    padding: 5.5rem 0 0;
  }

  .intro__title {
    font-size: 1.875rem;
    margin-bottom: 2rem;
  }

  .intro__wrapper {
    margin: 0 auto 2rem;
  }

  .section {
    padding: 2.5rem 0;
  }

  .section__header {
    margin: 0 auto 2rem;
  }

  .section__title {
    font-size: 1.75rem;
  }
  .section__title:after {
    display: none;
  }

  .section__reviews {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    background-color: #EAF0F9;
  }

  .section__promotion {
    padding: 0;
  }

  .offer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .offer__item {
    width: calc(var(--image-height) / 1);
  }
  .offer__item:last-child {
    margin-bottom: 0;
  }
  .offer__item .offer__img {
    margin-bottom: 1rem;
    width: 4.375rem;
    height: 4.375rem;
  }
  .offer__item .offer__info span {
    font-size: 0.9375rem;
  }

  .overviews__img {
    margin-bottom: 0.5rem;
  }

  .overviews__tittle {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
  }

  .overviews__location {
    font-size: 0.75rem;
  }

  .overviews__slider .slick-arrow {
    top: calc(var(--image-height) / 3);
    height: 1.875rem;
    width: 1.875rem;
  }

  .destinations__tabs {
    margin-bottom: 1.5rem;
    background-color: #FFFFFF;
  }
  .destinations__tabs .tabs__category {
    padding: 0.3125rem 1.5625rem;
    font-size: 1.1875rem;
  }
  .destinations__tabs .tabs__category:first-child {
    padding: 0.3125rem 0.9375rem;
  }
  .destinations__tabs .tabs__category:last-child {
    padding: 0.3125rem 1.3125rem;
  }

  .destinations__item a {
    font-size: 0.75rem;
  }
  .destinations__item .destinations__img {
    margin-bottom: 0.5rem;
  }

  .destinations__button a {
    font-size: 0.75rem;
  }

  .destinations__slider .slick-arrow {
    top: calc(var(--image-height) / 2.7);
    height: 1.875rem;
    width: 1.875rem;
  }

  .overviews__slider .slick-arrow.slick-prev,
  .destinations__slider .slick-arrow.slick-prev {
    background: url("../images/arrow_mobile_prev.svg") no-repeat;
  }
  .overviews__slider .slick-arrow.slick-next,
  .destinations__slider .slick-arrow.slick-next {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background: url("../images/arrow_mobile_next.svg") no-repeat;
  }

  .reviews__item {
    margin-right: 1rem;
  }

  .reviews__block .slick-dots {
    margin-top: 0;
  }

  .reviews__content {
    margin-bottom: 0;
  }

  .reviews__tittle {
    padding: 0.75rem 0 0 0;
    margin-bottom: 0.5rem;
    font-size: 0.9375rem;
  }

  .reviews__location {
    padding-left: 0;
    margin-bottom: 0.75rem;
    font-size: 0.9375rem;
  }

  .reviews__rating {
    margin: 0.75rem 0 0 0;
  }

  .reviews__rating a {
    padding: 0.1875rem 0.5625rem;
    margin-bottom: 0.25rem;
    font-size: 0.9375rem;
  }

  .review__info {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .review__avatar {
    margin: 0.25rem;
    padding: 0;
  }

  .review__account {
    width: 2.75rem;
    height: 2.75rem;
  }

  .review__block {
    margin-left: 0.5rem;
  }

  .review__name {
    padding: 0;
    margin-bottom: 0.25rem;
    font-size: 0.9375rem;
  }

  .review__country span {
    font-size: 0.9375rem;
  }

  .review__text {
    padding: 0;
    margin-bottom: 0;
    font-size: 0.9375rem;
  }

  .promotion {
    background-color: #FFFFFF;
  }

  .promotion__content {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .promotion__avatar {
    display: none;
  }

  .promotion__logotype {
    margin: 0 0 0 2.125rem;
  }
  .promotion__logotype svg {
    max-width: 3.625rem;
    max-height: 3.625rem;
    padding: 1.4375rem 0.25rem;
  }

  .promotion__text {
    font-size: 0.75rem;
    margin: 2.4375rem 1rem;
  }

  .promotion__footer {
    margin: 2.8125rem 0.25rem 2.8125rem 0;
  }
  .promotion__footer a {
    font-size: 0.875rem;
  }

  .promotion__close svg {
    max-width: 1rem;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  .footer {
    padding: 2.5rem 0;
  }

  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 2.5rem;
  }

  .footer__inner {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer__inner ul {
    display: block;
    width: auto;
    margin: 0 1rem 2rem 0;
  }
  .footer__inner ul li {
    margin: 0;
    display: none;
  }
  .footer__inner ul li:first-child {
    display: block;
  }
  .footer__inner ul li a {
    text-decoration: underline;
    font-size: 0.9375rem;
  }

  .footer__copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer__copyright span {
    font-size: 0.75rem;
  }
}